
{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study!</h2>

    <p>
        Welcome to the experiment!
 
        
    <p>
        In this experiment you will be presented with a series of decisions, and be paid based on your answers. The next pages describe the experiment. After that there will be some comprehension questions, and three practice rounds where you will get a chance to practice, and make sure you understand the instructions. </p> 
        
      <p>  
        After you complete the comprehension questions and practice rounds, you will proceed to the real part of the experiment. How much you will be paid will depend partly on chance, and partly on the choices that you make in the experiment. 
    </p>
  <p>
    After you complete the thirteen rounds of the experiment, there will be two reflection questions. 
  </p>

    <form method="post">
      {{ formfields }}
      <div class="mb-4">
        <label for="id_prolific_id" class="form-label">
          Please enter your unique Prolific ID here:
        </label>
        <input
          type="text"
          id="id_prolific_id"
          name="prolific_id"
          required
          maxlength="100"
          class="form-control"
        >
      </div>
      <div class="d-flex justify-content-center">
        {{ next_button }}
      </div>
    </form>
      
    </div>
</div>
{% endblock %}

